body{
  background-color: #E3CAA5;
}

.header{
  display: flex;
  justify-content: center;
}

h1{
  color: #80624c;
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
}

.date{
  display: flex;
  justify-content: center;
  color: #80624c;
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
}

.container{
  display: flex;
  flex-direction: column;
}

.inputs{
  display: flex;
  justify-content: center;
  
}

.todo{
  display: flex;
  justify-content: center;
  color:#80624c;
  font-family: 'Dancing Script', cursive;
}

.crossed{
  text-decoration: line-through 2px #594545;
  background-color: #FFD1D1;
}

ul,li{
  list-style-type: none;
  padding:10px;
  margin: 0;
  font-size: 25px;
}

.btn-del{
  display: flex;
  justify-content: center;
}

.delete{
  background-color: #FFF8EA;
  color:#80624c;
  border: 1px solid #2b241f;
  padding: 10px;
  font-family: 'Dancing Script', cursive; 
}

.add{
  flex: 1;
  padding: 8px;
  margin: 10px;
  background-color: #FFF8EA;
  color:#80624c;
  border: 1px solid #2b241f;
  font-family: 'Dancing Script', cursive; 
}

input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Dancing Script', cursive; 
}